$white: #fff;
$black: #000;
$main-color: #fff;


$link-color: #fff;
$bg-home-color: #2c3e50;
$bg-service-color: #b24a50;
$bg-about-color: #665464;
$bg-work-color: #81a256;
$bg-contact-color: #75b4aa;




$base-font-size: 1rem;
$base-line-height: 1.5;
$body-bg-color: #fff !default;
$body-text-color: #fff !default;
$body-font-family: Lato, Arial, Helvetica, sans-serif;



$base-srevice-text-color: #ffcccf;
$base-about-text-color: #dfcbdc;
$base-work-text-color: #c3d2b2;
$base-contact-text-color: #e0ecea;