.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;

	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 72px;
	}

	.nav {
		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			align-items: center; 
			width: 100%;
		}

		li {
			.active {
				background: #74c7d5;
			    border-radius: 0 0 5px 5px;
			    height: 72px;
			    padding: 24px 0 24px 0;
			}
		}
		
		a {
			padding: 0 30px;
			position: relative;
		}
	}
}
