$mq-support: true;
$mq-fixed-value: false;
@import "base/var";
@import "base/custom";
@import "base/mixins";
@import "vendors/include-media";
@import "vendors/normalize";
@import "base/reset";
@import "base/helpers";
@import "base/fonts";
@import "layout/header";
@import "layout/footer";
@import "layout/section";
@import "font/font";

.page {
	width: 100%;
	position: relative;
}

.container {
	max-width: 1140px;  
	margin: 0 auto;

	@media all and (max-width: 1024px) {
		max-width: 768px; 
	}

	@media all and (max-width: 768px) {
		max-width: 640px; 
	}

	@media all and (max-width: 640px) {
		max-width: 420px; 
	}
}

.home,
.service,
.about,
.work,
.contact {
	height: 100vh; 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%;
	overflow: hidden;
}

.home {
	background-color: $bg-home-color;
	padding: 0;
}

.service {
	background-color: $bg-service-color;
}

.about {
	background-color: $bg-about-color;
}

.work {
	background-color: $bg-work-color;
}

.contact {
	background-color: $bg-contact-color;
}
